  <footer class="footer">
    <div class="content has-text-centered">
      <p>Made with ❤ by <a href="https://github.com/azawat7">azawat7</a> - Powered by 
         <a href="https://nodejs.dev">Node.js</a>, 
         <a href="https://bulma.io">Bulma</a> and 
         <a href="https://discord.js.org/#/">Discord.js</a>
      </p>
    </div>
  </footer>
  </body>
  <script defer src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script defer src="<%= domain %>/js/script.js"></script>
</html>