<footer>
  <p class="footer-text">© Copyright 2021 {echo}</p>
</footer>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
  footer {
    bottom: 0;
    left: 0;
    padding: 10px 0px;
    position: fixed;
    background-color: rgb(29, 33, 41);
    width: 100%;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    text-align: center;
  }
</style>
