<header>
  <nav>
    <img class="nav__logo" src="tessssssssss" alt="logo" />
    <ul class="nav__links">
      <li><a href="/privacy">Privacy</a></li>
    </ul>
  </nav>
  <a class="login" href="#"><button>Login</button></a>
</header>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

  header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
  }

  li,
  a,
  button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

  .nav__links {
    list-style: none;
  }

  .nav__links li {
    display: inline-block;
    padding: 0px 20px;
  }

  .nav__links li a {
    transition: all 0.3s ease 0s;
  }

  .nav__links li a:hover {
    transition: all 0.3s ease 0s;
    color: rgb(245, 0, 65);
  }

  .login {
    padding: 9px 25px;
    background-color: rgb(255, 107, 146);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .login:hover {
    background-color: rgb(245, 0, 65);
  }
</style>
