@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

* {
  font-family: "Fira Code", monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #444444;
}

li,
a,
button {
  font-family: "Fira Code", monospace;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
}

.logo {
  cursor: pointer;
  margin-right: auto;
  /* color: red; */
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #f50041;
}

button {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgba(245, 0, 65, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(129, 0, 34, 0.884);
}

atd {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: #7289da;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

atd:hover {
  background-color: #4e5b8b;
}

h1 {
  text-align: center;
  margin-top: 10%;
  color: #ffffff;
  font-size: 60px;
}
