<%- include("../partials/head.ejs") %>

<div id="dashboard-page-server" class="dashboard-page-server">
  <div class="container is-fluid">
    <div class="columns">
      <%- include("../partials/dashboardSidebar.ejs") %>
      <div class="column is-10 dashboard-module"></div>
    </div>
  </div>
</div>

<%- include("../partials/footer.ejs") %>
