<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{echo} - Home</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header>
      <img class="logo" width="70px" height="70px" src="img/echo.svg" alt="logo"
      <nav>
          <ul class="nav__links">
            <li><a href="https://github.com/im-a-panda-guy/EchoBot">Github</a></li>
            <li><a href="https://discord.gg/5eaZdWygQf">Support Server</a></li>
            <li><a href="https://discord.com/oauth2/authorize?client_id=838061935039610921&scope=bot&permissions=8589934591">Add To Discord</a></li>
          </ul>
      </nav>
      <a class="cta" href="#"><button>Log In</button></a>
    </header>
    <!--  -->
    <h1>{echo}<br>ONE OF THE BEST MULTI-PURPOSE<br>DISCORD BOT</h1>
  </body>
</html>

<style>
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

* {
  font-family: "Fira Code", monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #444444;
}

li,
a,
button {
  font-family: "Fira Code", monospace;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
}

.logo {
  cursor: pointer;
  margin-right: auto;
  /* color: red; */
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #f50041;
}

button {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgba(245, 0, 65, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(129, 0, 34, 0.884);
}

h1 {
  text-align: center;
  margin-top: 10%;
  color: #ffffff;
  font-size: 60px;
}
</style>
