<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{echo} - Home</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="css/index.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
      <img class="logo" width="70px" height="70px" src="img/echo.svg" alt="logo"
      <nav>
          <ul class="nav__links">
            <li><a href="https://github.com/im-a-panda-guy/EchoBot">Github</a></li>
            <li><a href="https://discord.gg/5eaZdWygQf">Support Server</a></li>
            <li><a href="https://discord.com/oauth2/authorize?client_id=838061935039610921&scope=bot&permissions=8589934591">Add To Discord</a></li>
          </ul>
      </nav>
      <a class="cta" href="#"><button>Log In</button></a>
    </header>
    <!--  -->
    <h1>{echo}<br>ONE OF THE BEST MULTI-PURPOSE<br>DISCORD BOT</h1>
    <a href="#"><button>Add To Discord</button></a>
  </body>
</html>