<!-- <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

<head>
  <meta charset="UTF-8" />
  <title>{echo} - Home</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<h1>Leaderboard</h1>

<script>
  const guild = req.query.guild;
  if (!guild) {
    h1.innerHTML("Please specify guild as a query !");
    return;
  }
  if (guild) {
    const settings = await Guild.findOne({ guildID: guild });

    if (!settings) {
      res.send("This guild has no user stored in the DB.");
      return;
    }
    if (settings) {
      const data = [];
      settings.users.forEach((user) => {
        if (user.level.experience > 100) {
          data.push({
            id: user.id,
            experience: user.level.experience,
            level: user.level.levels,
          });
        }
      });

      const sortedArray = data.sort((a, b) => b.experience - a.experience);
      i = 1;

      const mappedArray = sortedArray
        .map(
          (u) =>
            `${i++}. ${
              client.users.cache.get(u.id)
                ? client.users.cache.get(u.id).tag
                : "Not Found"
            }<br/>- Level : ${u.level}<br/>- Experience : ${u.experience}`
        )
        .join("<br/><br/>");

      return res.send(
        `${client.guilds.cache.get(guild).name}<br/><br/>${mappedArray}`
      );
    }
  }
</script> -->
