<head>
  <meta charset="UTF-8" />
  <title>{echo} - Privacy</title>
  <link
    rel="icon"
    href="http://45.77.63.91:3000/echo-logo.png"
    type="image/x-icon"
  />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
  <%- include("partials/head") %>
  <h1>{echo} Privacy Policy</h1>
  <div class="div">
    <h3>What information is stored without your consentment ?</h3>
    <ul>
      <li>The guild ID where {echo} is on.</li>
      <li>
        The user ID of people who send a message in a guild where {echo} is on.
      </li>
    </ul>

    <h3>What information is stored with your consentment ?</h3>
    <ul>
      <li>The role ID of the mod/admin role and the auto-role.</li>
      <li>The channel ID of the level-logs channel.</li>
    </ul>
    <h3>Data Security</h3>
    <ul>
      <li>
        Your information is in high security but we cannot guarantee that your
        data is 100% safe.
      </li>
    </ul>
    <h3>Questions / Disagreements / Data Removal</h3>
    <ul>
      <li>If any, you can contact im_a_panda_guy#5557 on Discord.</li>
    </ul>
    <h3>By using {echo}, you agree to the following privacy policy.</h3>
  </div>
  <%- include("partials/footer") %>
</body>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

  body {
    background-color: rgb(46, 52, 64);
    margin: 0px;
  }

  .div {
    border-radius: 20px;
    display: table;
    margin: 0 auto;
    padding: 25px;
    background-color: rgb(72, 81, 99);
  }

  h1 {
    margin: 60;
    color: rgb(245, 0, 65);
    text-align: center;
    font-family: "Montserrat", sans-serif;
  }
  h3 {
    color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
  }
  li {
    color: rgb(255, 107, 146);
    font-family: "Montserrat", sans-serif;
  }
</style>
